<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Love, Think and Past">
        <meta name="author" content="Theodorus Zhou">
        <title>Posts</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=http://chaoxuprime.com/mathjax_conf.js">
        </script>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/default.css" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    </head>
    <body class="tex2jax_ignore">
      <header class="hide-on-print">
          <div id="blog-title">
              <a href="/">Love, Think and Past</a>
          </div>
          <nav>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/src/biography.html">Biography</a></li>
                  <li><a href="/src/Resume.pdf">Resume</a></li>
                  <!--<li><a href="/src/wishlist.html">Wishlist</a></li>-->
              </ul>
          </nav>
      </header>
      <article>
          <h1 id="article-title">Posts</h1>

          <table class="postindex" style="width:100%">
            $body$
          </table>

      </article>
      <footer class="hide-on-print">© 2010 - <script>document.write(new Date().getFullYear())</script> Theodorus Zhou. Licensed under <a href="http://www.wtfpl.net/txt/copying/">WTFPL v2</a> unless otherwise specified. <a href="/README.html">Blog README</a>.</footer>

    </body>
</html>

</html>
